<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyStitch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyStitch.My.MySettings.MyStitchConnectionString" connectionString="Data Source=LAPTOP-11NSK703\SQLEXPRESS;Initial Catalog=MyStitch;Persist Security Info=True;User ID=sa;Password=dkk.sql;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <MyStitch.My.MySettings>
            <setting name="DesignFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectThreadsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="DesignFilePath" serializeAs="String">
                <value>D:\MyStitch\Designs</value>
            </setting>
            <setting name="DesignStitchDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaletteStitchDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StitchDisplayStyleFormPos" serializeAs="String">
                <value />
            </setting>
        </MyStitch.My.MySettings>
    </userSettings>
</configuration>