<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyStitch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyStitch.My.MySettings.MyStitchConnectionString" connectionString="Data Source=LAPTOP-11NSK703\SQLEXPRESS;Initial Catalog=MyStitch;Persist Security Info=True;User ID=sa;Password=dkk.sql;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <MyStitch.My.MySettings>
            <setting name="DesignFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectThreadsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="DesignFilePath" serializeAs="String">
                <value>D:\MyStitch\Designs</value>
            </setting>
            <setting name="DesignStitchDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaletteStitchDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StitchDisplayStyleFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>D:\MyStitch\Logs</value>
            </setting>
            <setting name="isGridOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectThreadSymbolsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>D:\MyStitch\Images</value>
            </setting>
            <setting name="BackupFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>D:\MyStitch\Backup</value>
            </setting>
            <setting name="BackupArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppendDbBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupAddDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColourCaptureFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogZoomValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogZoomOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="FileRetentionPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsShowBlockstitches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowBackstitches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowKnots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCentreOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CentrelineColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CentrelineThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProjectTimerFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isTimerAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTimerAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintThreadCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isShowStockLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoArchiveOnSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isPrintKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintKeyOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isKeySeparate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPrintGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isPrintCentreLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isBlankBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlankBorderSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintStitchDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintSquaresPerInch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TilingOverlap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlapShading" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isShowPageOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbbrevKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintGrid1Lines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintGrid5Lines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintGrid10Lines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintBackstitchLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isTitleAboveGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTitleAboveKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesignBy" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyrightBy" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintOptionsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalSettingsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isAutoRunHousekeeping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHkLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHkArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Grid1Colour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grid5Colour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grid10Colour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grid1Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Grid5Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Grid10Thickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PrintGrid1Colour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintGrid5Colour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintGrid10Colour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintCentrelineColour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintGrid1Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrintGrid5Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrintGrid10Thickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PrintCentreLineThickness" serializeAs="String">
                <value>2</value>
            </setting>
        </MyStitch.My.MySettings>
    </userSettings>
</configuration>