<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyStitchThreads.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyStitchThreads.My.MySettings.MyStitchConnectionString"
            connectionString="Data Source=LAPTOP-11NSK703\SQLEXPRESS;Initial Catalog=MyStitch;Persist Security Info=True;User ID=sa;Password=dkk.sql;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <MyStitchThreads.My.MySettings>
            <setting name="ThreadCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>D:/netwyrks/MyStitch/Images/</value>
            </setting>
            <setting name="ProjectFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="callUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>D:\netwyrks\MyStitch\Logs</value>
            </setting>
            <setting name="ThreadFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectThreadsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectThreadCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintThreadCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ColourCaptureFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupAddDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackUpDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppendDbBackup" serializeAs="String">
                <value>False</value>
            </setting>
        </MyStitchThreads.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
